body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blue-bg {
  background-color: #0020f4;
  box-sizing: border-box;
  padding: 80px 0px 200px 240px;
  position: absolute;
  width: 100%;
}
.blue-bg h2 {
  display: inline-block;
  margin: 0;
  color: white;
}
.dots {
  box-sizing: border-box;
  position: absolute;
  display: inline;
  top: 30%;
  right: 20%;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.white {
  background-color: white;
}
.gray {
  background-color: gray;
}

.container {
  box-sizing: border-box;
  padding: 200px;
  width: 100%;
  display: block;
  position: relative;
}

.building {
  position: absolute;
  display: inline-block;
  top: 50px;
  width: 360px;
  position: relative;
  margin-right: 10px;
}

.building img {
  width: 100%;
}
#up {
  position: relative;
  top: 0;
  font-weight: bold;
}
.text-content {
  position: absolute;
  padding: 0px 15px 0px;
  bottom: 0;
}
.text-content p {
  padding: 20px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
